.root-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}


.slider-container {
    flex: 1;
    background-color: white;
    flex-direction: column;
    height: 100%;
}

.drawer-container {
    height: 100%;
}

.drawer-element {
    width: 100%;
}

.main-container {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-component{
    height: 50%;
    overflow: scroll;
    width: 50%;
}

.button-list-component{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10%;
}