.root-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex: 1;
}

/* 
    slider in left
*/
.slider-container {
    flex: 1;
    background-color: white;
    flex-direction: column;
    height: 100%;
}

.drawer-container {
    height: 100%;
}

.drawer-element {
    width: 100%;
}

.main-container {
    flex: 5;
    height: 100vh;
}

.list-component{
    overflow: hidden;
    height: 90%;
}

.button-list-component{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}




