
<mat-toolbar color="primary">
  <span>Login</span>
</mat-toolbar>

<div class="index-container">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
</div>

<div class="index-container">
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
</div>

<div class="index-container">
  <mat-form-field>
    <input type="number" matInput placeholder="Age">
  </mat-form-field>
</div>

<mat-radio-group class="radio-button">
  <mat-radio-button type="radio" value="1">Male</mat-radio-button>
  <mat-radio-button type="radio" value="0">Female</mat-radio-button>
</mat-radio-group>

<div class="example-button-row">
    <button mat-raised-button color="warn">cancel</button>
    <button mat-raised-button color="accent">save</button>
</div>