.example-button-row button{
    margin: 15px;
}

.body-component {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.radio-button-female{
    margin-left:20px;
}
.card-component{
    margin: auto;
    width: 30%;
    margin-top: 5%;
}


