<div class="patent-container">
  <div class="title">
    <p>Title</p>
  </div>
  <div class="customer-office-detail-box">
    <div class="address-invoice-column">
      <div class="customer-address">
        <p>customer address</p>
      </div>
      <div class="invoice">
        <p>invoice</p>
      </div>
    </div>
    <div class="image-office-address">
      <div class="image">
        <p>image</p>
      </div>
      <div class="office-address">
        <p>office address</p>
      </div>
    </div>
  </div>
  <div class="product_detail"></div>
  <div class="total"></div>
  <div class="gst"></div>
  <div class="sign"></div>
</div>
