.parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* hole div */
.drawer-container {
    flex: 1;
    overflow: hidden;
}

.sidenav {
    padding: 2vw;
    min-width: 200px !important;
    width: 20vw !important;
    max-width: 400px !important;
}

.content-list{
    padding: 1vw;
    flex-direction:column;
    background-color: white;
    width: 100%;
}  
/* menu-side-nav */
.search{
    display: flex;
    margin-left: 10%;
}
.space{
    flex: 4;
}
