<div class="parent-container">
  <mat-drawer-container class="drawer-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side"  >
          <button mat-button 
            class="content-list" 
            *ngFor="let menu of menulist">
            {{menu.list}}
          </button>
        </mat-drawer> 
    <mat-toolbar>
      <div>
        <button mat-stroked-button 
        (click)="drawer.toggle()">
        <mat-icon 
        src="src/assets/image/baseline-menu-24px.svg">menu</mat-icon>
        </button>
      </div>
      <div class="search">
        <input type="text" placeholder="search..." >
      </div>
      <div class="space"></div>
      <div>
          <button mat-stroked-button [matMenuTriggerFor]="option">
            <mat-icon src="src/assets/image/option.svg">option</mat-icon>
          </button>
          <mat-menu #option="matMenu">
            <button mat-menu-item>save</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
      </div>
    </mat-toolbar>
    <p>jsdgvehrvg</p>
    <p>jsdgvehrvg</p>
  </mat-drawer-container>
</div>
