<mat-drawer-container class="example-container">
  <div class="navigation-bar">
    <mat-toolbar color="primary" class="toolbar">
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-button-toggle value="justify">
              <mat-icon color="primary" src="/home/development/Downloads/Angular/test1/src/assets/image/baseline-menu-24px.svg">menu</mat-icon>
            </mat-button-toggle>
            Menu
          </button>
        </div>
        <mat-icon class="icon-home" color="warn" type="button" src="/home/development/Downloads/Angular/test1/src/assets/image/baseline-home-24px.svg">home</mat-icon>
      <mat-form-field class="date-picker">
        <input matInput [matDatepicker]="picker" placeholder="Product date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="options" class="options">options</button>
      <mat-menu #options="matMenu">
        <button mat-menu-item>Save</button>
        <button mat-menu-item>Log-out</button>
      </mat-menu>
    </mat-toolbar>
  </div>

  <ol>
    <li>
      <button mat-raised-button (click)="openDialog()" class="dialog-button">Add</button>
    </li>
    <li *ngIf='animal'>
      Product is :<i>{{animal}}</i>
    </li>
  </ol>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-button class="content-list" *ngFor="let menu of menulist">{{menu.list}}</button>
  </mat-drawer>
</mat-drawer-container>