.dialog-button{
    display: flex;
    align-items: center;
}


.toolbar {
    display: flex;
}
.example-sidenav-content {
    display: flex;
    flex: 1;
}

.icon-home{
    flex: 0.5;
}

.div-space{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
flex: 0.5;
}

.date-picker{
    display: flex;
    align-self: end;
    margin-left: 2%;
    flex: 1;
}

 options{
    flex:0.5;
}
.button-route{
    flex-direction: row;
}

.example-sidenav {
    padding: 20px;
}
  .example-container{
      height: 100%;
      width: 100%;
  }
  
  .content-list{
      padding: 10px;
      flex-direction: column;
      background-color: white;
      width: 100%;
  }  
  
