@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    background: #CDC9C8; 
    margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }